<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->
		<!--<target xsi:type="File" name="allfile" fileName="${basedir}/Logs/${shortdate}/${shortdate}-allfile.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />-->

		<target xsi:type="File" name="infoFile" fileName="${basedir}/Logs/${shortdate}/${shortdate}-Info.log"
				layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="errorFile" fileName="${basedir}/Logs/${shortdate}/${shortdate}-Error.log"
				layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=tostring}" />
		<target xsi:type="ColoredConsole" name="lifetimeConsole" useDefaultRowHighlightingRules="false" layout="${MicrosoftConsoleLayout}">
			<highlight-row condition="level == LogLevel.Info" foregroundColor ="Gray" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor ="Red" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" maxlevel="Info" final="true" writeTo="infoFile,lifetimeConsole"/>
		<logger name="*" minlevel="Error" final="true" writeTo="errorFile,lifetimeConsole"/>
	</rules>
</nlog>